.main-content
    display: flex
    justify-content: center
    flex-direction: column

.title
    text-align: center

.actions
    display: flex
    justify-content: space-around
    padding: 8px 0
    button
        width: 100px

.mat-dialog-content
    padding: 10px 24px

.link
    color: #28f

    &:hover
        color: #25c

mat-icon
        cursor: default
