<mat-card>
  <mat-card-header>
    <img mat-card-avatar src="{{comment.author.avatar}}" alt="Avatar">
    <mat-card-title>{{comment.author.userName}} </mat-card-title>
    <div>{{comment.createdAt | date:'d/M/yy, h:mm a'}}</div>
  </mat-card-header>
  <mat-card-content>
    <p>{{comment.body}}</p>
  </mat-card-content>
  <mat-card-actions class="actions-buttons" align="end">
    <button mat-icon-button color="primary" (click)="like()"
      #tooltip="matTooltip" matTooltip="{{likerNames + ' like this!'}}" [matTooltipDisabled]="likerNames.length <= 0">
      <mat-icon matBadge="{{countLikes()}}" matBadgeColor="accent" matBadgeSize="small"
        [matBadgeHidden]="countLikes() === 0" aria-label="Like">thumb_up</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="dislike()">
      <mat-icon matBadge="{{countDislikes()}}" matBadgeColor="accent" matBadgeSize="small"
        [matBadgeHidden]="countDislikes() === 0" aria-label="Like">thumb_down</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Edit this comment" (click)="toggleUpdateForm()"
      *ngIf="currentUser && comment.author.id === currentUser.id">
      <mat-icon aria-label="Edit">edit</mat-icon>
    </button>
    <comment-delete [id]="comment.id" (onDelete)="onDeleted($event)"
      *ngIf="currentUser && comment.author.id === currentUser.id"></comment-delete>
  </mat-card-actions>
  <div *ngIf="showUpdateForm">
    <mat-divider></mat-divider>
    <comment-update *ngIf="currentUser && comment.author.id === currentUser.id" [comment]="comment"
      (onUpdate)="onUpdated($event[0], $event[1])" (onCancel)="onUpdateCancel()"></comment-update>
  </div>
</mat-card>
