.title
    text-align: center
    margin: 0

.data
    max-height: 0
    opacity: 0
    cursor: default

.content
    display: flex
    justify-content: space-around
    padding: 2px 0

.hidden
    display: none

.fluid
    width: 100%
