<div *ngIf="loading" class="mat-spinner-wrapper">
  <mat-spinner></mat-spinner>
</div>
<h2 mat-dialog-title class="title">Sharing post</h2>
<input value="{{link}}" class="data" #cpTarget />
<form name="emailForm" #emailForm="ngForm" class="fluid">
  <mat-form-field class="fluid {{sharingByEmail ? '' : 'hidden'}}">
    <input name="email" [(ngModel)]="shareEmail" placeholder="Enter email to send notification"
      #emailField="ngModel" matInput ngModel required email />
  </mat-form-field>
</form>
<div mat-dialog-content class="content">
  <button mat-raised-button (click)="close()">Close</button>
  <button mat-raised-button color="accent" (click)="copy(cpTarget)">Copy share link</button>
  <button mat-raised-button color="primary" (click)="sharingByEmail ? confirmShare() : openShare()"
    disabled="{{sharingByEmail ? !(emailField.value && emailField.valid) : false}}">
    {{sharingByEmail ? 'Confirm share!' : 'Share by email'}}
  </button>
</div>
