<div class="comment-update-container" *ngIf="comment">
  <div *ngIf="loading" class="mat-spinner-wrapper">
    <mat-spinner></mat-spinner>
  </div>
  <div>
    <mat-form-field>
      <textarea [(ngModel)]="newComment.body" matInput placeholder="Enter new comment text...">{{newComment.body}}</textarea>
    </mat-form-field>
  </div>
  <mat-card-actions align="end" class="no-margin-actions">
    <button mat-icon-button (click)="cancel()">
      <mat-icon aria-label="Cancel">cancel</mat-icon>
    </button>
    <button mat-icon-button color="primary" matTooltip="Update comment" (click)="submit()">
      <mat-icon aria-label="Send">send</mat-icon>
    </button>
  </mat-card-actions>
</div>
