.comment-update-container
    padding: 10px 0 0 0

textarea
    min-height: 60px

mat-form-field
    width: 100%

mat-icon
    font-size: 16px

.mat-spinner-wrapper
    margin: -16px

.no-margin-actions
    display: flex
    justify-content: space-between
    margin-bottom: 0
    padding: 0
