<div class="container">
  <div *ngIf="loading" class="spinner-wrapper mat-spinner-wrapper">
    <mat-spinner></mat-spinner>
  </div>
  <mat-card *ngIf="!sentEmail">
    <mat-card-content>
      <h3>Request password reset</h3>
      <p>Enter your email and click 'Send' to send email reset link.</p>
      <form name="emailForm" #emailForm="ngForm" class="centered">
        <mat-form-field>
          <input name="email" [(ngModel)]="emailAddress" placeholder="Email address"
            #email="ngModel" matInput ngModel email required />
        </mat-form-field>
        <div class="buttons">
          <button mat-raised-button color="primary"
            (click)="sendEmail()" disabled="{{!(email.value && email.valid)}}">
            Send
          </button>
          <button mat-raised-button (click)="toMain()">
            Back to main page
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  <mat-card *ngIf="sentEmail">
    <mat-card-content>
      <h3>Email was sent!</h3>
      <img src="/assets/email.svg" class="image" />
      <p>Now open it for further instructions (email address: {{emailAddress}}).</p>
      <div class="buttons">
        <button mat-raised-button (click)="toMain()">
          Back to main page
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
