<div class="container">
  <div *ngIf="loading" class="spinner-wrapper mat-spinner-wrapper">
    <mat-spinner></mat-spinner>
  </div>
	<mat-card>
		<mat-card-content>
      <h3>Reset password</h3>
      <p>Enter your new password.</p>
      <p>Note: password must be from 4 to 16 characters.</p>
      <form name="passwordForm" #passwordForm="ngForm" class="centered">
        <mat-form-field>
          <input name="password" [(ngModel)]="newPassword" placeholder="New password"
            #password="ngModel" matInput ngModel minlength="4" maxlength="16" required />
        </mat-form-field>
        <div class="buttons">
          <button mat-raised-button color="primary"
            disabled="{{!(password.value && password.valid)}}" (click)="resetPassword()">
            Submit
          </button>
          <button mat-raised-button (click)="toMain()">
            Back to main
          </button>
        </div>
      </form>
		</mat-card-content>
	</mat-card>
</div>
  