.container
    width: 100%
    height: calc(100vh - 70px)
    display: flex
    justify-content: center
    align-items: center

.centered
    display: flex
    flex-direction: column
    justify-content: center

.buttons
    display: flex
    justify-content: space-around

.spinner-wrapper
    position: fixed
    top: 0
    left: 0
    width: 100vw
    height: 100vh
