<div *ngIf="post" class="container">
  <div *ngIf="loading" class="mat-spinner-wrapper">
    <mat-spinner></mat-spinner>
  </div>
  <app-post [post]="post" [showComments]="true" [showUpdateForm]="false" [currentUser]="currentUser" class="post"></app-post>
  <button mat-raised-button (click)="goToAll()" class="button">
    Go to all posts
  </button>
</div>
