<mat-card [ngClass]="{'post-with-comments': showComments}">
  <mat-card-header>
    <img mat-card-avatar src="{{post.author.avatar}}" alt="Avatar">
    <mat-card-title>{{post.author.userName}}</mat-card-title>
    <div class="date">{{post.createdAt | date:'d/M/yy, h:mm a'}}</div>
  </mat-card-header>
  <img mat-card-image *ngIf="post.previewImage" mat-card-image src="{{post.previewImage}}" alt="Photo">
  <mat-card-content>
    <p>{{post.body}}</p>
  </mat-card-content>
  <mat-card-actions class="actions-buttons" align="end">
    <button mat-icon-button color="primary" (click)="likePost()"
      #tooltip="matTooltip" matTooltip="{{likerNames + ' like this!'}}" [matTooltipDisabled]="likerNames.length <= 0">
      <mat-icon matBadge="{{countLikes()}}" matBadgeColor="accent" matBadgeSize="medium"
        [matBadgeHidden]="countLikes() === 0" aria-label="Like">thumb_up</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="dislikePost()">
      <mat-icon matBadge="{{countDislikes()}}" matBadgeColor="accent" matBadgeSize="medium"
        [matBadgeHidden]="countDislikes() === 0" aria-label="Dislike">thumb_down</mat-icon>
    </button>
    <button mat-icon-button color="accent" (click)="openShareDialog()">
      <mat-icon aria-label="Share">share</mat-icon>
    </button>
    <button mat-icon-button color="basic" matTooltip="Show comments" (click)="toggleComments()">
      <mat-icon matBadge="{{post.comments.length}}" matBadgeColor="warn" matBadgeSize="medium"
        [matBadgeHidden]="post.comments.length === 0" aria-label="Add comment">comment</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Edit this post" (click)="toggleUpdateForm()"
      *ngIf="currentUser && post.author.id === currentUser.id">
      <mat-icon aria-label="Edit">edit</mat-icon>
    </button>
    <post-delete [id]="post.id" (onDelete)="onDeleted($event)"
      *ngIf="currentUser && post.author.id === currentUser.id"></post-delete>
  </mat-card-actions>
  <div *ngIf="showUpdateForm">
    <mat-divider></mat-divider>
    <post-update *ngIf="currentUser && post.author.id === currentUser.id" [post]="post"
      (onUpdate)="onUpdated($event[0], $event[1])" (onCancel)="onUpdateCancel()"></post-update>
  </div>
  <div *ngIf="showComments">
    <mat-divider></mat-divider>
    <div class="new-comment" *ngIf="currentUser">
      <mat-form-field>
        <textarea [(ngModel)]="newComment.body" matInput placeholder="Comment it..."></textarea>
      </mat-form-field>
      <button mat-icon-button color="primary" matTooltip="Send" (click)="sendComment()">
        <mat-icon aria-label="Send">send</mat-icon>
      </button>
    </div>
    <div *ngIf="post.comments.length > 0" class="comments-count">
      Just {{post.comments.length}} in all
    </div>
    <app-comment *ngFor="let _comment of post.comments" [comment]="_comment" [currentUser]="currentUser"
      (onDelete)="onCommentDelete($event)"></app-comment>
  </div>
</mat-card>
