.post-update-container
    padding: 10px 0 0 0

textarea
    min-height: 60px

mat-form-field
    width: 100%

.image-container
    position: relative
    width: fit-content

    .mat-icon
        display: none

    &:hover
        .mat-icon
            display: inline-block
            position: absolute
            right: -20px
            top: -7px
            cursor: pointer

.mat-spinner-wrapper
    margin: -16px

.no-margin-actions
    display: flex
    justify-content: space-between
    margin-bottom: 0
    padding: 0
