<div class="post-update-container" *ngIf="post">
  <div *ngIf="loading" class="mat-spinner-wrapper">
    <mat-spinner></mat-spinner>
  </div>
  <div>
    <mat-form-field>
      <textarea [(ngModel)]="newPost.body" matInput placeholder="Enter new post text...">{{newPost.body}}</textarea>
    </mat-form-field>
    <div class="image-container">
      <mat-icon aria-label="Send" (click)="removeImage()">close</mat-icon>
      <img mat-card-image class="post-image" *ngIf="imageUrl" src="{{imageUrl}}" alt="Photo">
    </div>
  </div>
  <mat-card-actions align="end" class="no-margin-actions">
    <input hidden #file accept="image/*" type="file" (change)="loadImage($event.target)">
    <button mat-icon-button color="accent" (click)="file.click()">
      <mat-icon aria-label="Choose an image">image</mat-icon>
    </button>
    <button mat-icon-button (click)="cancel()">
      <mat-icon aria-label="Cancel">cancel</mat-icon>
    </button>
    <button mat-icon-button color="primary" matTooltip="Update post" (click)="submit()">
      <mat-icon aria-label="Send">send</mat-icon>
    </button>
  </mat-card-actions>
</div>
